/*
:target{
border: 2px solid #D4D4D4;
background-color: #e5eecc;

}

.bbb{
    border:10px inset red;
    margin: 100px 100px;
    padding:10px；
    }*/
p{margin:0; border:1px solid red;}

img{float:left; margin:0 4px 4px 0;display:inline-block;}